.searchResults {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    -ms-grid-rows: 100px 1fr;
    -ms-grid-columns: 0px 1fr;
}

header[role=banner] {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

section[role=main] {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    width: 100%;
    height: 100%;
}

#searchResultsHeader {
    font-size: 28pt;
}

.mix-id {
    display: none;
}

.mix-description {
    text-overflow: ellipsis;
}


#searchResultsListView.win-listview {
    height: 100%;
    width: 100%;
    position: relative;
}

    #searchResultsListView.win-listview :not(.win-footprint).win-container {
        background-color: transparent;
    }
