.win-backbutton {
display:none;

}
.browse p {
    margin-left: 120px;
}

.mix-set-view {
float:left;
}

.mix-id {
display: none;
}

.mix-pic {
float:right;

}

#allMixesListView {
    height: 700px;
    width: 2000px;
}
    #allMixesListView .win-viewport {
    overflow-x:auto visible;
    }
    #allMixesListView .win-surface {
    /*margin: 200px 120px 100px 120px;*/
    }

.mixesListView .mix {
        height: 200px;
        width: 200px;
}

.mix-title-container {
/*margin-top: calc(.75*1fr);*/
position:absolute;
background-color: rgba(52, 50, 50, 0.85);
bottom:0;
}
.mix-title {
    font-size:x-large;
}
.mix {
width:200px;
height: 200px;
display: -ms-grid;
background-repeat: no-repeat;
background-position: center;
background-color:rgba(0, 0, 0, 0.00);
}
