section[role=main] {
    width: 100%;
    height: 100%;
}

.browse {
    height: 100%;
    width: 100%;
}


#allMixesListView.win-listview {
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

#allMixesListView .win-container:not(.footprint):not(.hover) {
    background-color: rgba(255, 255, 255, 0.5);
    /*border-color:white;*/
}


#allMixesListView .win-groupheader {
    min-width: 1000px;
}

.mix-set-title {
    font-size: 28pt;
}

.mix-pic {
    float: right;
}

.mix-info-container {
    position: absolute;
    background-color: rgba(52, 50, 50, 0.76);
    bottom: 0;
    right: 0;
    left: 0;
}

.mix-title-container {
    position: absolute;
    background-color: rgba(52, 50, 50, 0.76);
    top: 0px;
    right: 0px;
    left: 0px;
}

.mix-title {
    font-size: 20px;
    width: 200px;
}

.mix {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.mix-in-progress {
    margin-top: 70px;
    margin-left: 70px;
}

.mix-id {
    display: none;
}


.tag {
    height: 200px;
    width: 200px;
}

.tag-name {
    font-size: 20pt;
    height: 50px;
    position: absolute;
    top: 75px;
    text-align: center;
    width: 100%;
}
