body {
overflow:scroll;
}

.browse p {
    margin-left: 120px;
}

.win-listview 
{
    height: 500px; 
}

.mix-set-view {
float:left;
}

.mix-id {
display: none;
}

.mix {
width:250px;
}

.mix-pic {
float:right;
}