body {
    background-color:#122C4B;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

#staticHeader {
color:lightblue;
}

#playerContainer {
display:none;
}

#last-track {
    color:white;
    float:left;
    display:none;
}

#contenthost {
height:500px;
}

#userContainer {
float:right;
margin-top:50px;
margin-right:100px;
}

#loggedInContainer {
display: none;
}

#appBarButtonContainer {
position:absolute;
bottom: 0px;
left: 125px;
}

#appBarAlbumArt {
position:absolute;
left:15px;
right:15px;
top: 10px;
bottom:10px;
width:100px;
height: 100px;
}

.songProgress {
margin-left:130px;
margin-top:15px;
width: 300px;
height:20px;
background-color:#122C4B;
color:rgba(35, 34, 34, 0.91);   
border:solid 1px;
border-color:white;
}

#mainAppBar {
height:120px;
background-color:rgba(35, 34, 34, 0.91);
}

