body {
    background-color:#122C4B;
    display:-ms-grid;
    /*-ms-grid-columns: auto 1fr 200px;*/
    -ms-grid-rows: 150px 1fr 100px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}


#staticHeader {
position:absolute;
left:50px;
top:30px;
}

#contenthost {
    -ms-grid-row:2;
    margin-left:75px;
}



#playerContainer {
display:none;
}

#last-track {
    color:white;
    float:left;
    display:none;
}


#userContainer {
position:absolute;
right:150px;
top:50px;
}

    #userContainer a {
    color:white;
    font-size: large;
    }

#loggedInContainer {
display: none;
}

#appBarButtonContainer {
position:absolute;
bottom: 0px;
left: 125px;
}

#appBarAlbumArt {
position:absolute;
left:15px;
right:15px;
top: 10px;
bottom:10px;
width:100px;
height: 100px;
}

.songProgress {
margin-left:130px;
margin-top:15px;
width: 300px;
height:20px;
background-color:#122C4B;
color:rgba(35, 34, 34, 0.91);   
border:solid 1px;
border-color:white;
}

#mainAppBar {
height:120px;
background-color:rgba(35, 34, 34, 0.91);
}

